@import "tailwindcss";
@plugin '@tailwindcss/typography';

/* Stops elastic scrolling */
body {
  overscroll-behavior: none;
  font-family: "Space Grotesk", sans-serif;
}

@font-face {
  font-family: "Bronzier";
  src: url("/fonts/bronzier/Bronzier-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@theme {
  /* UNT THEMES */
  --color-unt-green: #059033;
  --color-unt-neon: #00ff00;
  --color-unt-dark-gray: #4d4d4f;
  --color-unt-light-gray: #dcddde;

  /* PROJECTS BREAKPOINT */
  --breakpoint-projsm: 53rem;
  --breakpoint-projmd: 80rem;
}
